@font-face {
    font-family: "JetBrains Mono";
    font-weight: 100;
    font-style: normal;
    src: url("/font/JetBrainsMono/JetBrainsMono-Thin.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 100;
    font-style: italic;
    src: url("/font/JetBrainsMono/JetBrainsMono-ThinItalic.woff2");
}
@font-face {
    font-family: "JetBrains Mono";
    font-weight: 200;
    font-style: normal;
    src: url("/font/JetBrainsMono/JetBrainsMono-ExtraLight.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 200;
    font-style: italic;
    src: url("/font/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2");
}
@font-face {
    font-family: "JetBrains Mono";
    font-weight: 300;
    font-style: normal;
    src: url("/font/JetBrainsMono/JetBrainsMono-Light.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 300;
    font-style: italic;
    src: url("/font/JetBrainsMono/JetBrainsMono-LightItalic.woff2");
}
@font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-style: normal;
    src: url("/font/JetBrainsMono/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-style: italic;
    src: url("/font/JetBrainsMono/JetBrainsMono-RegularItalic.woff2");
}
@font-face {
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-style: normal;
    src: url("/font/JetBrainsMono/JetBrainsMono-Medium.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-style: italic;
    src: url("/font/JetBrainsMono/JetBrainsMono-MediumItalic.woff2");
}
@font-face {
    font-family: "JetBrains Mono";
    font-weight: 600;
    font-style: normal;
    src: url("/font/JetBrainsMono/JetBrainsMono-SemiBold.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 600;
    font-style: italic;
    src: url("/font/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-style: normal;
    src: url("/font/JetBrainsMono/JetBrainsMono-Bold.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-style: italic;
    src: url("/font/JetBrainsMono/JetBrainsMono-BoldItalic.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 800;
    font-style: normal;
    src: url("/font/JetBrainsMono/JetBrainsMono-ExtraBold.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 800;
    font-style: italic;
    src: url("/font/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2");
}