---
import Container from "@layouts/base.astro"

---

<Container title={"The Classic: 404"} description={"The Page you were looking for was not found!"}>
    <main>
        <article class={"flex flex-col items-center justify-center bg-slate-900 text-white h-screen w-full"}>
            <h1 class={"text-7xl text-center mb-12"}>Oh, you're lost?</h1>
            <a class={"button-white hollow w-10/12 md:w-6/12"} href="/">return home</a>
        </article>
    </main>
</Container>