---
import Container from "@layouts/base.astro";
import {
    ViteLogo,
    ReactLogo,
    AllianceLogo,
    NormandyLetterA,
    NormandyLetterD,
    NormandyLetterM,
    NormandyLetterN,
    NormandyLetterO,
    NormandyLetterR,
    NormandyLetterY,
    ParagonLogo,
    RenegadeLogo,
    N7Logo,
    Credits
} from "../assets/SVGs";
---
<Container>
    <main>
        <article id="landing-letter-reveal" class={"bg-slate-900 bg-striped-slate text-white h-screen w-full"}>
            <section class={"flex flex-col justify-center container max-w-screen-md h-full mx-auto"}>
                <div class={"flex justify-center w-full px-4 md:px-0 py-4 sm:py-6 md:py-8"}>
                    <NormandyLetterN id="NormandyLetterN" className={"NormandyLetter fill-transparent stroke-white h-16"}/>
                    <NormandyLetterO id="NormandyLetterO" className={"NormandyLetter fill-transparent stroke-white h-16"}/>
                    <NormandyLetterR id="NormandyLetterR" className={"NormandyLetter fill-transparent stroke-white h-16"}/>
                    <NormandyLetterM id="NormandyLetterM" className={"NormandyLetter fill-transparent stroke-white h-16"}/>
                    <NormandyLetterA id="NormandyLetterA" className={"NormandyLetter fill-transparent stroke-white h-16"}/>
                    <NormandyLetterN id="NormandyLetterN2" className={"NormandyLetter fill-transparent stroke-white h-16"}/>
                    <NormandyLetterD id="NormandyLetterD" className={"NormandyLetter fill-transparent stroke-white h-16"}/>
                    <NormandyLetterY id="NormandyLetterY" className={"NormandyLetter fill-transparent stroke-white h-16"}/>
                </div>
                <nav class={"flex flex-col md:flex-row gap-4 w-full px-4 md:px-0 ButtonGroupFadeIn opacity-0"}>
                    <a class={"flex-1 hollow icon-button button-white rounded"} href="/store">
                        <Credits className={"h-6 w-6"} />
                        <span class={"w-full -ml-6 text-center"}>Store</span>
                    </a>
                    <a class={"flex-1 hollow icon-button button-white rounded"} href="/support">
                        <ParagonLogo className={"h-6 w-6"} />
                        <span class={"w-full -ml-6 text-center"}>Support</span>
                    </a>
                    <a class={"flex-1 hollow icon-button button-white rounded"} href="https://youtube.com/@TheNormandyProject">
                        <RenegadeLogo className={"h-6 w-6"} />
                        <span class={"w-full -ml-6 text-center"}>Videos</span>
                    </a>
                </nav>
            </section>
        </article>
    </main>
</Container>
<style>
    @keyframes wriggleLines {
        from {
            background-size: 600em 600em;
            background-position: center center;
        }
        50% {
            background-size: 700em 700em;
            background-position: 0 0;
        }
        to {
            background-size: 600em 600em;
            background-position: center center;
        }
    }
    #landing-letter-reveal {
        animation: wriggleLines 10s infinite 60s normal forwards;
        background-blend-mode: hard-light; 
    }
</style>