<div class={"absolute h-full w-full overflow-hidden"}>
    {(()=>{
        let arr : HTMLDivElement[] = [];
        for (let i = 0; i<100; i++) {
            arr.push(
                <div
                    id={`star_${i}`}
                    class={`star m-0`}
                    style={`animation: stargaze ${(Math.random() * 5 + 5).toPrecision(4)}s linear ${(Math.random() * 1 + 1).toPrecision(4)}s infinite; top: ${(Math.random()*100 + 1).toPrecision(4)}%; left: ${(Math.random()*100 + 1).toPrecision(4)}%;`}
                ></div>
            );
        }
        return arr;
    })()}
    <style>
        @keyframes stargaze {
            from {
                transform: scale3d(1,1,1);
            }
            50% {
                transform: scale3d(0,0,0);
            }
            to {
                transform: scale3d(1,1,1);
            }
        }
        .star {
            position: absolute;
            background-color: white;
            height: 2px;
            width: 2px;
            border-radius: 2px;
            backface-visibility: hidden;
            perspective: 1000;
            transform: scale3d(1,1,1);
            transition: opacity .2s ease-in-out;
        }
    </style>
</div>